@charset "utf-8";
@import url('reset.css');
@import url('font.css');

#wrap {
    max-width: 1920px;
    margin: 0 auto;
    background-color: black;
    font-family: 'pretendard';
}

#wrap .header {
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#wrap .header .inner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#wrap .header .logo {
    width: 7%;
}

#wrap .header .logo a {
    display: block;
}

#wrap .header .logo a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#wrap .header .nav {}

#wrap .header .nav .gnb {
    display: flex;
    gap: 40px;

}

#wrap .header .nav .gnb li {}

#wrap .header .inner .nav .gnb>li {
    position: relative;

}

#wrap .header .nav .gnb li .depth-01 {
    font-size: 15px;
    font-weight: 600;
    display: block;
    padding: 10px;
}

#wrap .header .nav .gnb li .depth-02 {
    font-size: 13px;
    font-weight: 500;
    color: #dedede;
}

#wrap .header .inner .nav .gnb>li:hover .depth-02 {
    display: block;
}


#wrap .header .nav .gnb li .depth-02 li {}

#wrap .header .nav .gnb li .depth-02 li a {}

#wrap .header .inner .nav .gnb>li .depth-02 {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    min-width: 150px;
    z-index: 10000;

}

#wrap .header .inner .nav .gnb>li .depth-02 li a {
    display: block;
    padding: 8px 12px;
    white-space: nowrap;
}

#wrap .header .utill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    gap: 15px;

}

#wrap .header .utill li {}

#wrap .header .utill li a {
    display: block;
}

#wrap .header .utill li a img {
    width: 100%;
    height: 20px;
    object-fit: cover;
}

/* .header end */

/* full height 설정 */
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main .content {
    position: relative;
    width: 100%;
    height: 100%;
}

.main .content>div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
    font-weight: 800;
    letter-spacing: 0.05em;
}

.main .content img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.6;
}