@charset "utf-8";
@import url('reset.css');
@import url('font.css');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #000;
    font-family: 'pretendard';
}

/* body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
    z-index: 9999;
}

body.scaled::after {
    opacity: 1;
} */

#wrap {
    max-width: 1920px;
    margin: 0 auto;
    background-color: black;
    font-family: 'pretendard';
}

#wrap .header {
    width: 100%;
    height: 75px;
    background-color: black;
    opacity: 0.95;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000000;
    position: relative;
}

#wrap .header .inner {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

#wrap .header .logo {
    width: 7%;
}

#wrap .header .logo a {
    display: block;
}

#wrap .header .logo a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#wrap .header .nav .gnb {
    display: flex;
    gap: 40px;
}

#wrap .header .nav .gnb>li {}

/* ───────── 1차 메뉴 ───────── */
#wrap .header .nav .gnb li .depth-01 {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    display: block;
    padding: 10px;
    color: white;
    transition: color 0.3s;
}


#wrap .header .nav .gnb li .depth-01:hover {
    color: 5;
    width: 100%;
}


#wrap .header .nav .gnb li .depth-01::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #7120d5;
    transition: all 0.3s ease;
}


#wrap .header .nav .gnb li .depth-01:hover::after {
    width: 100%;
}


#wrap .header .inner .nav .gnb>li .depth-02 {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    padding: 20px 100px;
    box-sizing: border-box;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#wrap .header .inner .nav .gnb>li:hover .depth-02 {
    display: flex;
    opacity: 1;
    visibility: visible;
}

#wrap .header .inner .nav .gnb>li .depth-02 li {
    list-style: none;
}

#wrap .header .inner .nav .gnb>li .depth-02 li a {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    transition: color 0.3s;
}

#wrap .header .inner .nav .gnb>li .depth-02 li a:hover {
    color: #aaa;
}


#wrap .header .utill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    gap: 15px;
}

#wrap .header .utill li a {
    display: block;
    color: #fff;
    transition: color 0.3s;
}

#wrap .header .utill li a:hover {
    color: #aaa;
}

#wrap .header .utill li a img {
    width: 100%;
    height: 20px;
    object-fit: cover;
}

/* .header end */

.section01 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: relative;
    overflow: hidden;
}

.section01 .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    position: relative;
    text-align: center;
}

.section01 .container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards;
}

.container.bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    overflow: visible;
}

.container.bg .image {
    width: 320px;
    height: 90px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    object-fit: cover;
    transition: all 1.6s ease;
    aspect-ratio: 16 / 6;
}


.container.bg .image--scaled {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4) !important;
    width: 100vw !important;
    height: 100vh !important;
    object-fit: cover !important;
    border-radius: 0 !important;
    z-index: 10000 !important;
    transition: transform 1.6s ease, height 1.6s ease, width 1.6s ease;
}

.container.bg .text {
    /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section01 .container:nth-child(1) {
    animation-delay: 0.5s;
}

.section01 .container:nth-child(2) {
    animation-delay: 0.9s;
}

.section01 .container:nth-child(3) {
    animation-delay: 1.3s;
}

.section01 .container:nth-child(4) {
    animation-delay: 1.7s;
}

.section01 .container:nth-child(3) .text {
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: right;
}

.container .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.container .text p {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.container .text .image {
    width: 300px;
    height: 80px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;
}

.container .text img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* .section02 end */

.section02 {}

.section02 .inner {}

.section02 .inner p {
    color: white;
    font-family: 'Cormorant Garamond';
    font-size: 30px;
    font-weight: 400;
}

/* .section02 end */

.section03 {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.section03 .Visual {}



.section03 .Visual .swiper-wrapper {}

.section03 .Visual .swiper-wrapper .swiper-slide {
    position: relative;
}

.section03 .Visual .swiper-wrapper .swiper-slide a {
    display: block;
}

.section03 .Visual .swiper-wrapper .swiper-slide a .text {
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 100%);
    width: 100%;
    height: 100%;

}

.section03 .Visual .swiper-wrapper .swiper-slide a .text h3 {
    font-weight: 700;
    font-size: 50px;
}

.section03 .Visual .swiper-wrapper .swiper-slide a .text p {
    font-weight: 500;
    font-size: 20px;
}

.section03 .Visual .swiper-wrapper .swiper-slide a img {
    width: 100%;
    height: 960px;
    object-fit: cover;
}


/* .section03 end */

.section04 {}

.section04 .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section04 .inner .item {
    position: relative;
    overflow: hidden;
}

.section04 .inner .item:hover a img {
    transform: scale(1.08);
}

.section04 .inner .item a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section04 .inner .item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
    pointer-events: none;
    z-index: 2;
}

.section04 .inner .item a img {
    width: 960px;
    height: 960px;
    object-fit: cover;
    transition: transform 0.8s ease;
}

.section04 .inner .item a .text {
    position: absolute;
    bottom: 40px;
    left: 80px;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.section04 .inner .item a .text h3 {
    font-size: 50px;
    font-weight: 600;
}

.section04 .inner .item a .text p {
    font-size: 24px;
    font-weight: 500;
}

/* .section04 end */

.section05 {
    background-color: #ececec;
    padding: 210px 0;
    
}

.section05 .outer {
    margin: 0 auto;
}
.section05 .outer .swiper-wrapper {}
.section05 .outer .swiper-wrapper .swiper-slide {
    display: flex;
}

.section05 .outer .swiper-wrapper .swiper-slide a {}
.section05 .outer .swiper-wrapper .swiper-slide a .visual_image {
    width: 435px;
}
.section05 .outer .swiper-wrapper .swiper-slide a .visual_image img {
    width: 100%;
    height: 530px;
    object-fit: cover;
}

.section05 .outer .swiper-wrapper .swiper-slide a .content {}
.section05 .outer .swiper-wrapper .swiper-slide a .content .title {}
.section05 .outer .swiper-wrapper .swiper-slide a .content .title h2 {}
.section05 .outer .swiper-wrapper .swiper-slide a .content .title span {}

.section05 .outer .swiper-wrapper .swiper-slide a .content .inner {
    overflow: hidden;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper {}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide {}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item {}

.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .image {
    position: relative;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .image img {
    width: 190px;
    height: 250px;
    object-fit: cover;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .image button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
}

.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .image button img{
    width: 100%;
    height: 20px;
}

.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .text {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .text p {
    font-size: 14px;
    font-weight: 500;
}

.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .price {
    display: flex;
    gap: 7px;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .price strong {
    font-size: 16px;
    font-weight: 600;
    color: #7120d5;
}
.section05 .outer .swiper-wrapper .swiper-slide a .content .inner .swiper-wrapper .swiper-slide .item .price h3{
    font-size: 16px;
    font-weight: 600;
}

/* section05 end */

.section06 {
    width: 100%;
    height: 960px;
    position: relative;
}

.section06 .style {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section06 .style .swiper-wrapper {
    height: 100%;
}

.section06 .style .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}

.section06 .style .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section06 .style .swiper-wrapper .swiper-slide .text {
    color: white;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section06 .style .swiper-wrapper .swiper-slide .text .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.section06 .style .swiper-wrapper .swiper-slide .text .title h2 {
    font-size: 30px;
    font-weight: 600;
}

.section06 .style .swiper-wrapper .swiper-slide .text .title p {
    font-size: 15px;
    font-weight: 500;
}

.section06 .style .swiper-wrapper .swiper-slide .text a {
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

/* .section06 end */

.footer {
    width: 100%;
    height: 960px;
    color: white;
}

.footer .alll {
width: 100%;
    height: 100%;
    margin: 0 auto;
     padding: 100px 80px;
}

.footer .inner {
    
    display: flex;
    justify-content: space-between;
   padding-bottom: 300px;
   
}

.footer .inner  .list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer .inner .list .title {}

.footer .inner .list .title h3 {
    font-size: 17px;
    font-weight: 700;
}

.footer .inner .list .item {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .inner .list .item  .all {
    display: flex;
    gap: 50px;
}

.footer .inner .list .item li {}

.footer .inner .list .item  .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .inner .list .item .left li {}

.footer .inner .list .item  .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .inner .list .item  .right li {}

.footer .alll .bottom {
    display: flex;
    align-items: flex-end;
    gap: 90px;
}
.footer .alll .bottom .logo {
    width: 1000px;
    height: 100%;
}
.footer .alll .bottom .logo img {
    width: 100%;
    height: 269px;
    object-fit: cover;
}
.footer .alll .bottom .isms {
    display: flex;
    gap: 20px;
}
.footer .alll .bottom .isms img {
    width: 50px;
    height: 46px;
    object-fit: cover;
}
.footer .alll .bottom .isms .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .alll .bottom .isms .text p {
    font-size: 15px;
    font-weight: 500;
}
.footer .alll .bottom .isms .text .top {
    display: flex;
    gap: 10px;
}